@charset "UTF-8";

@media screen and (max-width: 490px) {
    section#flex-container{
        flex-flow: column wrap;
        align-items: center;
    }

    main section ul{
        flex-flow: row wrap;
        align-items: stretch;
    }

    main section ul .itens-lista{
        flex: 0 1 100%;
        text-align: center;
        margin: 5px auto;
        padding: 8px;
    }
}