@charset "UTF-8";

/*
    Paleta de cores:
    Verde: #49a09d
    Lilás: #5f2c82
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #5f2c82;
}

main{
    position: relative;
    height: 100vh;
    box-shadow: 3px 3px 3px black;
}

section{
    position: absolute;
    margin: 0px 60px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    border-radius: 20px;
}

#imagem{
    background: #5f2c82 url(../imagens/Fundo-1280x1920.jpg) top center no-repeat fixed;
    background-size: cover;
    height: 210px;
    border-radius: 20px 20px 0px 0px;
}

#formulario{
    padding: 15px;
    text-align: justify;
}

#formulario h1{
    text-align: center;
}



#usu-g{
    background-color: #5f2c82;
    border-radius: 10px;
    height: 35px;
    margin: 5px 0px;
    display: flex;
    width: 100%;
    padding: 3px 0px;
}

#usu-icon{
    color: white;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    padding: 7px;
    user-select: none;
}

#usu{
    width: 82%;
    border-radius: 10px;
    border: none;
    outline: none;
    text-indent: 2px;
    background-color: rgb(240, 240, 240);
}

#senh-g{
    background-color: #5f2c82;
    border-radius: 10px;
    height: 35px;
    margin: 5px 0px;
    display: flex;
    width: 100%;
    padding: 3px 0px;
}

#senh-icon{
    color: white;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    padding: 7px;
    user-select: none;
}

#senh{
    width: 82%;
    border-radius: 10px;
    border: none;
    outline: none;
    text-indent: 2px;
    background-color: rgb(240, 240, 240);
}

#entrar{
    width: 100%;
    text-align: center;
    margin: 20px 0px 0px 0px;
    border-radius: 10px;
}


#botao-entrar{
    display: block;
    border: none;
    background-color: #49a09d;
    color: white;
    width: 100%;
    padding: 10px 2px;
    border-radius: 10px;
}

#botao-entrar:hover{
        background-color: #21504e;
}

#esqueci{
    width: 100%;
    text-align: center;
    margin: 5px 0px 25px 0px;
    border-radius: 10px;
}

#botao-esqueci{
    display: block;
    border: none;
    background-color: white;
    color: black;
    width: 100%;
    padding: 10px 0px;
    border-radius: 10px;  
    border: 0.5px solid rgba(0, 0, 0, 0.288);  
}

#botao-esqueci:hover{
    background-color: #49a09d65;
}
