@charset "UTF-8";

@font-face {
    font-family: 'headertxt';
    src: url(../Mídia/Fontes/Passion-One/PassionOne-Bold.ttf) format("TrueType");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'maintxt';
    src: url(../Mídia/Fontes/Sriracha/Sriracha-Regular.ttf) format('TrueType');
    font-weight: bold;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    text-align: center;
}

header h1{
    color: white;
    font-family: 'headertxt',Arial, Helvetica, sans-serif;
    font-size: 10vw;
    padding-top: 50px;
}

header span{
    font-size: 7vw;
}

header p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: regular;
    padding: 0px 0px 50px 0px;
    font-size: 1em;
}

header p a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header p a:hover{
    text-decoration: underline;
}

main{
    font-family: 'maintxt',Arial, Helvetica, sans-serif;
    padding: 25px 0px 25px 0px;
}

main section article{ 
    width: 41vw;
}

main section.um {
    padding: 6vh 0px 115px 30px;
}

main section.um article p{
    font-size: 3.5vw;
    text-align: left;  
    line-height: 2em;
    font-weight: bolder;
}

main section.dois{
    background: black url("../Mídia/imagens/background001.jpg") right center no-repeat fixed;
    background-size: cover;
    padding: 10vh 0px 95px 30px;
    box-shadow: inset 1px 1px 15px 0px rgba(0, 0, 0, 0.459);
}

main section.dois article p{
    color: white;
    font-size: 3.5vw;
    text-align: left;
    line-height: 2em;
    background-color: rgba(0, 0, 0, 0.5);
}

main section.tres {
    padding: 8vh 0px 95px 30px;
}

main section.tres article div{
    font-size: 3.5vw;
    text-align: left;  
    line-height: 2em;
    font-weight: bolder;
}

main section.tres article #p1{
    padding-bottom: 60px;
}

main section.tres article #p2{
    width: 47vw;
}

main section.quatro {
    padding: 9vh 0px 95px 30px;
    background: black url(../Mídia/imagens/background002.jpg) left top no-repeat fixed;
    background-size: cover;  
}

main section.quatro article div{
    font-size: 3.5vw;
    text-align: left;
    line-height: 2em;
    font-weight: bolder;
    width: 42vw;
    background-color: rgba(0, 0, 0, 0.500);
    color: white;
    padding-left: 10px;
}

main section.cinco {
    padding: 8vh 0px 85px 30px;
}

main section.cinco div{
    font-size: 3.5vw;
    text-align: left;  
    line-height: 2em;
    font-weight: bolder;
}

main section.cinco div#p1{
    padding-bottom: 60px;
}

main section.cinco div#p2{
    width: 43vw;
}

footer{
    background-color: black;
    padding: 10px;
}

footer p{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer p a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer p a:hover{
    text-decoration: underline;
}